[server]
entries-per-entry-group-max=500
use-ipv4=yes
use-ipv6=no

[wide-area]
enable-wide-area=yes

[publish]
[reflector]

[rlimits]
rlimit-core=0
rlimit-data=4194304
rlimit-fsize=0
rlimit-nofile=768
rlimit-stack=4194304
rlimit-nproc=3
